@{
    ViewBag.Title = "Sistema de Ventas";
}

<div class="jumbotron">
    <h1>Sistema de Ventas</h1>
    <p class="lead">Manual de Usuario</p>
    <p><a href="~/Recursos/Proyecto_2.pdf" class="btn btn-primary btn-lg">Ver &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Reporte de clientes</h4>
        <br />
        <p><a class="btn btn-default" href="~/clientes/imprimirIndex">Descargar</a></p>
    </div>
    <div class="col-md-4">
        <h4>Reporte de productos</h4>
        <br />
        <p><a class="btn btn-default" href="~/productos/imprimirIndex">Descargar</a></p>
    </div>
    <div class="col-md-4">
        <h4>Reporte de pedidos</h4>
        <br />
        <p><a class="btn btn-default" href="~/pedidos/imprimirIndex">Descargar</a></p>
    </div>
    <div class="col-md-4">
        <br /><br />
        <h4>Reporte de cuentas por cobrar</h4>
        <br />
        <p><a class="btn btn-default" href="~/cuentasPorCobrar/imprimirIndex">Descargar</a></p>
    </div>
    <div class="col-md-4">
        <br /><br />
        <h4>Reporte de empleados</h4>
        <br />
        <p><a class="btn btn-default" href="~/empleados/imprimirIndex">Descargar</a></p>
    </div>
</div>